@page
@model DocDocGo.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Your Email";

}
<h1>@ViewData["Title"]</h1>
<partial name="/Pages/Account/Manage/_StatusMessage.cshtml" model="Model.StatusMessage" />