@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DocDocGo - Hospital management System for the future</h1>

    <p>Please login or register for the system using the authentication dropdown</p>
</div>
