@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
<div class="text-center">
    <h1 class="display-4">DocDocGo - Hospital Management System</h1>

    <p> A Hospital Management System (HMS) built with the future of your clinic / hospital in mind.</p>
    
    <p>Please login or register for the system using the authentication dropdown to get started.</p>

    <div class="col-md-8 mx-auto">
        <img src="~/resources/national-cancer-institute-template-image.jpg" alt="doctor-patient" style="width: 100%;" />
    </div>
          
</div>
</div>

