
@page
@model DocDocGo.Pages.Home.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/pages/shared/_DashboardLayout.cshtml";
}
@inject UserManager<UserModel> UserManager
@using DocDocGo.Models
@using Microsoft.AspNetCore.Identity

<h1>@ViewData["Title"]</h1>
